<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
<div align="center">
    <h1>Login</h1>
    <br />
    <form action="#" th:action="@{/loginProcess}" th:object="${userLogin}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}" /></td>
                <td><span  th:if="${invalidLogin== 0}" style="color:red">Invalid Credentials</span></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" /></td>
                <td><span  th:if="${invalidLogin== 0}" style="color:red">Invalid Credentials</span></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Login</button> </td>
                <td><a th:href="@{/form}">New to the account..!Register</a></td>

            </tr>

        </table>
    </form>

</div>
</body>
